* { 
    font-family: 'Overpass Mono', monospace;
}

body {
    background-image: url(../media/bg.jpg);
    background-attachment: scroll;
    background-position: 0% 20%;
}

#heading {
    text-align: center;
    margin: 30vh 0vh;
}

#heading h1 {
    font-weight: 700;
}

#heading h2 {
    font-weight: 300;
}

.navbar {
    background-color: #fa6f4dbd;
    padding: 0.3vh 0vh;
    margin: 0;
    text-align: right;
}

.navbar a {
    color: black;
    font-weight: 700;
    padding: 1.25vw;
    text-decoration: none;
}

#ssubheadings h1{
    text-align: center;
    margin: 15vh 0vh;
}

#projects-container {
    margin: 20vh 0vh;
    display: flex;
}

.projects {
    background-color: green;
    border-radius: 20vh;
    width: 20vh;
    height: 20vh;
    margin: 0vw 5vw;
    color: green;
    border: 0.2vw solid #fa6f4dbd;
}

#leftmost {
    margin-left: 25vw;
}